# Игнорировать файлы .env (с переменными окружения)
.env

# Игнорировать виртуальное окружение
my_venv/
venv/
env/

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать IDE-специфичные файлы
.vscode/
.idea/

# Игнорировать бинарные файлы
*.exe
*.bin
*.so
*.dll

# Игнорировать файлы, созданные setuptools
/dist/
/build/
*.egg-info/

# Игнорировать Jupyter Notebook checkpoint
.ipynb_checkpoints/

# Игнорировать файлы, специфичные для macOS
.DS_Store

# Игнорировать файлы, специфичные для Windows
Thumbs.db